        {{ classname }}::{{ classname }}( DecimalType value )
        : DecimalRange{ {{ minexpr }}, {{ maxexpr }}, value }
        {

        }

        {{ classname }}::{{ classname }}()
        : {{ classname }}{ {{ defaultval }} }
        {

        }